@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Montserrat:wght@100;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 100%;
  height: 80px;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 0 7%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding: 0 2rem;
  height: auto;
  text-decoration: none;
  color: #000;
}

.book-now {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  background-color: #d8751a;
  color: #fff;
  font-weight: 100;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.logo {
  position: absolute;
  text-decoration: none;
  width: 60px;
  height: auto;
  top: 8px;
  right: calc(50% - 30px);
}

.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden-pc {
  display: none;
}

.landing-img {
  width: 100%;
  height: auto;
  padding-top: 50px;
  position: relative;
}

#home {
  text-align: center;
}

.booking-strip {
  position: absolute;
  padding: 0 5rem;
  z-index: 2;
  width: auto;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  top: 62%;
  left: 20%;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #d8751a;
}

.date label,
.date input {
  margin: 0.5rem 0.5rem;
}

.checkinout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-right: 1px solid #d8751a;
}

.checkinout label {
  margin: 0.5rem 1rem;
}

.availability {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.best-price {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #d8751a;
  padding-bottom: 15px;
  padding-top: 5px;
}

#gallery {
  text-align: center;
  padding-top: 100px;
}

.heading {
  font-family: "Kalam", cursive;
  font-size: 4rem;
}

.image {
  width: auto;
  height: 400px;
}

/* .splide__progress__bar {
  background-color: #d8751a;
  height: 2px;
} */

.gallery {
  padding: 30px 100px;
  background-color: #f0f0f0;
}

.about {
  padding: 60px 100px;
  background-color: #fff;
}

.Col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.Col img {
  width: 750px;
  height: auto;
  padding: 0 2rem;
}

.Col p {
  padding: 0 3rem;
  text-align: justify;
}

#footer {
  padding: 80px 200px 5px 200px;
  background-color: #fff;
  color: black;
  bottom: 0;
  width: 100%;
  height: auto;
  background-image: url("https://wasatchgreenscapes.com/wp-content/uploads/2015/05/footer-bg2.jpg");
  /* background-image: url(https://www.finlandiavillage.ca/wp-content/uploads/2019/03/golfball4-footer.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.footer p {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
